@font-face {
  font-family: fontLucu;
  src: url(/font/Arthead-Regular.otf);
}

@font-face {
  font-family: fontRamadan;
  src: url(/font/ramadan.ttf);
}

.awal h1{
    position: relative;
    font-family: fontLucu;
    font-size: 55px;
    color: #FFC530;
    line-height: 170px;
    top: 300px;
    overflow: hidden;
    margin: 0;
    /* margin-top: 600px; */
}

.awal .nama{
    margin-top: -55px;
}

.awal a{
    color: white;
    font-size: 120px;
}

.awal h1 span{
    display: inline-block;
    display: none;
}

.awal h1 span.text-in{
    display: block;
    animation: textIn .5s ease;
}

.awal h1 span.text-out{
    animation: textOut .5s ease;
}

@keyframes textIn {
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(0%);
    }
}
@keyframes textOut {
    0%{
        transform: translateY(0%);
    }
    100%{
        transform: translateY(-100%);
    }
}

.awal .bawah{
    position: relative;
    width: 60em;
    top: 57px;
}

.awal .atas{
    position: relative;
    width: 60em;
    top: -31px;
}

.center {
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.full{
    display: flex;
    width: 100%;
    height: 100vh;
}

body{
    background-color: #0C0C0C;
}

p, h1, h2{
    color: white;
}

.bag-2 p{
    position: relative;
    font-family: fontLucu;
    font-size: 40px;
    top: 1324px;
    overflow: hidden;
    /* margin-top: 600px; */
}

.bag-5 h1{
    text-align: left;
    font-family: fontLucu;
    font-size: 55px;
}

.bag-5 h1 a{
    color: #FFC530;
}

.bag-5 p{
    text-align: left;
    font-family: fontLucu;
    font-size: 40px;
    margin-top: 103px;
    line-height: 70px;
}

.bag-5 .text{
    position: relative;
    margin-left: -39px;
    top: -100px;
}
.bag-5{
    background-image: url(/img/buku.png) ;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 1000px;
}
.bag-5 img{
    z-index: 1000;
    display: block;
    position: relative;
    width: 50em;
    /* top: -500px; */
}

/* .bag-5 .poem-typed{
    white-space: pre-wrap;
} */

.bag-5 .typed{
    text-align: left;
    font-family: fontLucu;
    font-size: 40px;
    margin-top: 103px;
    line-height: 70px;
    color: white;
}

.bag-4 p{
    position: relative;
    font-family: fontLucu;
    font-size: 40px;
    top: 300px;
    overflow: hidden;
    margin: 0;
    /* margin-top: 600px; */
}

.bag-4 p a{
    color: #FFC530;
}


.bag-3 p{
    position: relative;
    font-family: fontLucu;
    font-size: 40px;
    margin: 0;
    margin-top: -40px;
}

.bag-3 h1{
    font-family: fontLucu;
    font-size: 65px;
    color: #FF7BD2;
}

.bag-3{
    background-image: url(/img/bunga.png) ;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 1000px;
    overflow: visible;
}

.bag-2 h1 {
    color: #FFC530;
    font-family: fontLucu;
    font-size: 200px;
}

.tanda_tanya2{
    position: relative;
    top: 52px;
    left: 496px;
width: 200px;
}

.tanda_tanya3{
    position: relative;
    top: 514px;
    left: 124px;
    width: 200px;

}
.tanda_tanya1{
    position: relative;
    top: 309px;
    left: -265px;
}
.tanda_tanya4{
    position: relative;
    top: 276px;
    left: 461px;
    width: 200px;
}
.tanda_tanya5{
    position: relative;
    top: -968px;
    left: 164px;
    width: 200px;
}
.tanda_tanya6{
    position: relative;
    top: -335px;
    left: 0px;
    width: 200px;
}

.bag-2 h1.naikturun {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-30px); }
}

.awal .button{
    position: relative;
    top: 331px;
    text-decoration: none;
    font-family: fontLucu;
    font-size: 50px;
}

/* .tulisan {
    position: fixed;
    justify-content: center;
    display: flex;
} */

.awal .other-text{
    font-family: fontRamadan;
    color: white;
    line-height: 50px;
    top:130px;
}

.awal .other-text a{
    line-height: 150px;
    font-size: 100px;
}

.awal .other-text1{
    font-family: fontRamadan;
    color: white;
    line-height: 50px;
    top: 30px;
}

.awal .other-text1 a{
    line-height: 150px;
    font-size: 100px;
}
.awal .other-text2{
    font-family: fontRamadan;
    color: white;
    line-height: 50px;
    top: -46px;
}

.awal .other-text2 a{
    line-height: 150px;
    font-size: 100px;
}

.other-text{ position: absolute; }
.other-text1{ position: absolute; }
.other-text2{ position: absolute; }
.other-text:nth-child(1){ animation-name: fade1; animation-fill-mode: both; animation-duration: 10s; animation-direction: alternate; }
.other-text1:nth-child(1){animation-name: fade2;animation-fill-mode: both; animation-duration: 5s;animation-direction: alternate; animation-delay: 10s;}
.other-text2:nth-child(1){animation-name: fade3;animation-fill-mode: both; animation-duration: 10s;animation-direction: alternate; animation-delay: 15s;}
.other-text3:nth-child(1){animation-name: fade4;animation-fill-mode: both; animation-duration: 5s;animation-direction: alternate; animation-delay: 25s;}

@keyframes fade1{
    0%,100% {
      opacity: 0;
    }
    50%{
      opacity: 1;
    }
}

@keyframes fade2{
    0%,100% {
        opacity: 0;
      }
      50%{
        opacity: 1;
      }
}

@keyframes fade3{
  0%,100% {
      opacity: 0;
    }
    50%{
      opacity: 1;
    }
}
@keyframes fade4{
  0% {
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
}